.title {
	background-color: #EEEEEF;
}
.save-tweet, .remove-tweet{
	font-weight: bold;
	float: right;
	cursor: pointer;
}
.author, .date {
	float: left;
	font-size: 11px;
}
.author {
	margin-right: 3px;
}
.date {
	cursor: pointer;
	text-decoration: underline;
}
.text{
	display: block;
}
img {
	float: left;
	margin-right: 10px;
}
a.search-tweets, a.saved-tweets {
	float: right;
	position: relative;
	top: 15px;
}
